%h1 Manufacturers cannot create new sticker

%p As a manufacturer, you cannot create new sticker
%p If the sticker or sticker range you have is not available, please ask admin to create new stickers id if you need so.

= link_to 'Back', stickers_path
